*, :after, :before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
.fs-22 {
    font-size: 22px;
}
html {
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}
  
body {
    font-family: Open Sans,sans-serif;
    overflow-x: hidden;
    padding: 0;
    font-size: 18px;
    color: #212529;
    background-color: #fff;
    line-height: 1.25;
    margin: 0;
}
section {
    margin-bottom: 60px;
}

.text-center {
    text-align: center!important;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
.d-flex {
    display: flex!important;
}
.flex-md-row {
    flex-direction: row!important;
}
.flex-column {
    flex-direction: column;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}
/* start header  */
.header {
    box-shadow: 0.3px 4px 13.8px 2.2px rgb(20 22 25 / 15%);
    padding: 10px 0;
    background-color: #fff;
}
.container {
    max-width: 1450px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* end header  */
/* start section contact form */
.form-section {
    background-image: url(../img/main-bg.webp);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0b194c;
    padding: 60px 0;
}
.form-section-header {
    display: flex;
    flex-wrap: wrap;
}
.form-section-header h1 {
    font-size: 60px;
    font-family: Shippori Mincho,serif;
    font-weight: 700;
    color: #fff;
    text-align: end;
    width: 50%;
    margin: 0;
    padding-right: 10px;
}
.form-section-header h2 {
    font-size: 30px;
    font-weight: 500;
    width: 50%;
    padding-left: 10px;
}
form div {
    padding-top: 20px;
}
.form-section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    padding-top: 0;
    background: #ffffff;
    box-shadow: 0 2px 12.2px 0.8px rgb(61 60 58 / 15%);
  }
.form-box h1 {
   text-align: center;
   border-radius: 3px;
   font-size: 24px;
   font-weight: 500;
   padding: 15px;
   margin-bottom: 0;
}
input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ffac75;
    outline: none;
}
.button-primary {
    background-image: linear-gradient(90deg,#ff781b,#ffac75);
    margin-top: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.form-footer {
    font-size: 10px;
    padding-top: 15px;
    text-align: center;
}
/* end section contact form */
/* start section block1 */
.bg-blue {
    background-color: #f3f7fe;
    border-radius: 25px;
    padding: 60px 30px;
}
.block1-section-container {
    display: flex;
    flex-wrap: wrap;
}
.block1-section-title {
    width: 70%;
}
.title {
    font-size: 48px;
    font-family: Shippori Mincho,serif;
    font-weight: 700;
    margin-bottom: 25px;
    margin: 0;
}
.pictures {
    position: relative;
    width: 30%;
}
.pictures img {
    width: 100%;
    position: absolute;
    top: -100px;
}
/* end section block1 */
.block2-section {
    padding: 60px 0;
}
/* start helf1 */
.half-1 {
    background-image: url(../img/half-bg.webp);
    background-size: 35%;
    background-position: 95% 50%;
    padding: 40px 0 150px;
    background-repeat: no-repeat;
}
.half1-block {
    display: flex;
    flex-wrap: wrap;
}
.half1-content {
    width: 60%;
}

.half1-button a {
    border-radius: 7px;
    background-image: linear-gradient(90deg,#ff781b,#ffac75);
    text-transform: uppercase;
    min-height: 51px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 15px;
    line-height: 1.25;
    width: 100%;
    max-width: 220px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
}
/* end helf1 */
/* start block3 section */
.subtitle {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}
.quote {
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    margin-bottom: 25px;
    position: relative;
}
.quote:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 30px);
    width: 2px;
    background-image: linear-gradient(0deg,#fff,#000);
}
/* start block3 section */
/* start helf2*/
.half-2 {
    position: relative;
}
.half-2-inner {
    position: relative;
    z-index: 3;
    background-image: url(../img/half-2.webp);
    background-repeat: no-repeat;
    background-size: 23%;
    background-position: 3% 50%;
    padding: 60px 0;
}
.half2-block {
    display: flex;
    flex-wrap: wrap;
}
.helf2-content {
    padding-left: 300px;
}

.half2-button a {
    border-radius: 7px;
    background-image: linear-gradient(90deg,#ff781b,#ffac75);
    text-transform: uppercase;
    min-height: 51px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 15px;
    line-height: 1.25;
    width: 100%;
    max-width: 340px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
}
/* end helf2*/
/* start block4-section */
.acor-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.acor-item {
    width: 45%;
}
.acor-item2 {
    width: 45%;
}
.acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: white;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif; 
    font-size: 16px;
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
    border-radius: 7px;
    box-shadow: 0 2px 12.2px 0.8px rgb(61 60 58 / 15%);
    background-color: #fff;
    padding: 5px 60px 5px 20px;
    font-size: 24px;
    font-weight: 700;
    color: #34459e;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    min-height: 90px;
    width: 100%;
    margin-bottom: 20px;
}
.acor-container input{
    display: none;
}
.acor-container label:before {
    content: '▾';
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    background-image: linear-gradient(0deg,#32439a,#4e68d9);
    color: #fff;
    align-items: center;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all .5s;
}
.acor-container input:checked + label {
    background-image: linear-gradient(90deg,#ff781b,#ffac75);
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}

.block4-button a {
    border-radius: 7px;
    background-image: linear-gradient(90deg,#ff781b,#ffac75);
    text-transform: uppercase;
    min-height: 51px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 15px;
    line-height: 1.25;
    width: 100%;
    max-width: 230px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
}
/* end block4-section */
/* start block5 section */
.bg-image {
    background-image: url(../img/bg-image-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 30px;
    padding: 60px 120px;
    color: #fff;
}

.bg-image h2 {
    font-size: 48px;
    font-family: Shippori Mincho,serif;
    font-weight: 700;
    margin-bottom: 25px;
    margin: 0;
}
.bg-image p {
    font-size: 22px;
}
/* end block5 section */
/* start block6 section */
.block6-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block6-section-item {
    position: relative;
    width: 50%;
    /* margin: 0 20px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.news {
    border-radius: 16px;
    box-shadow: 0.6px 4px 17.6px 3.4px rgb(70 70 71 / 13%);
    background-color: #fff;
    height: 100%;
}
.news-image img {
    width: 100%;
}
.news-content {
    position: relative;
    padding: 50px 30px 30px;
}
.news-icon {
    position: absolute;
    top: -33px;
}
/* end block6 section */
/* start block7 section */
.block7-section-container {
    display: flex;
    flex-wrap: wrap;
}
.block7-section-item {
    width: 30%;
}
.block7-section-item2 {
   width: 70%; 
}
.img-absolute {
    position: relative;
}
.img-absolute img {
    position: absolute;
    top: -100px;
}
/* end block7 section */
/* start half3 */
.half-3 {
    background-image: url(../img/half-3.webp);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 90% 50%;
    padding: 60px 0;
}
.half-3-block {
    display: flex;
    flex-wrap: wrap;
}
.half-3-content {
    width: 60%;
}
.half3-button a {
    border-radius: 7px;
    background-image: linear-gradient(90deg,#ff781b,#ffac75);
    text-transform: uppercase;
    min-height: 51px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 15px;
    line-height: 1.25;
    width: 100%;
    max-width: 310px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
}
/* end half3 */
/* start half4 */
.half-4 {
    background-image: url(../img/half-4.webp);
    background-repeat: no-repeat;
    background-size: 26%;
    background-position: 7% 50%;
    padding: 60px 0;
}
.half-4-block {
    display: flex;
    flex-wrap: wrap;
}
.half-4-content {
    padding-left: 400px;
}
/* end half4 */
/* start half5 */
.half-5 {
    background-image: url(../img/half-5.webp);
    background-repeat: no-repeat;
    background-size: 32%;
    background-position: 90% 50%;
    padding: 60px 0;
}
.half-5-block {
    display: flex;
    flex-wrap: wrap;
}
.half-5-content {
    width: 60%;
}
/* end half5 */
/* start block8 */
.block8-section {
    padding: 60px 0;
}
.bg-icons {
    background-image: url(../img/bg-icons-left.webp),url(../img/bg-icons-right.webp);
    background-position: 3% 50%,97% 50%;
    background-size: 245px;
    background-repeat: no-repeat;
}
.block8-section-content {
    border-radius: 16px;
    box-shadow: 0.6px 4px 17.6px 3.4px rgb(70 70 71 / 13%);
    padding: 40px 50px;
    background-color: #fff;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.block8-section-button a {
    border-radius: 7px;
    background-image: linear-gradient(90deg,#ff781b,#ffac75);
    text-transform: uppercase;
    min-height: 51px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 15px;
    line-height: 1.25;
    width: 100%;
    max-width: 290px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
}
/* end block8 */
/* start half6 */
.half-6 {
    background-image: url(../img/half-6.webp);
    background-repeat: no-repeat;
    background-size: 36%;
    background-position: 5% 50%;
    padding: 60px 0;
}
.half-5-block {
    display: flex;
    flex-wrap: wrap;
}
.half-6-content {
    padding-left: 600px;
}
.title-blue {
    font-size: 36px;
    font-weight: 700;
    color: #32449b;
    margin-bottom: 20px;
    font-family: Shippori Mincho,serif;
    margin: 0;
}
.small-quote {
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 4px solid #32439a;
}
/* end half6 */
/* start block9 */
.block9-section {
    padding: 60px 0;
}
.block9-section-container {
    display: flex;
    flex-wrap: wrap;
}
.block9-section-item {
    width: 70%;
}
.block9-section-item2 {
   width: 30%; 
}
.img-absolute-right {
    position: relative;
}
.img-absolute-right img {
    position: absolute;
    top: -50px;
    right: -100px;
    width: calc(100% + 100px);
    max-width: none;
}
/* end block9 */
/* start block10 */
.block10-section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.block10-section-item {
    width: 30%;
}
.block10-section-item2 {
    width: 70%;
}
/* end block10 */
/* start block11 */
.block11-section {
    padding: 60px 0;
}
.bg-image-2 {
    background-image: url(../img/bg-image-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 30px;
    padding: 60px 120px;
    color: #fff;
}
.block11-section-button a {
    border-radius: 7px;
    background-image: linear-gradient(90deg,#ff781b,#ffac75);
    text-transform: uppercase;
    min-height: 51px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 15px;
    line-height: 1.25;
    width: 100%;
    max-width: 290px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
}
/* end block11 */
/* start block12 */
.acor-container12 {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.acor-items1 {
    width: 45%;
}
.acor-items2 {
    width: 45%;
}
.acor-container12 .acor-body12 {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: white;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif; 
    font-size: 16px;
}
.acor-container12 .acor-body12 p {
    margin: 0 0 10px;
}
.acor-container12 label {
    border-radius: 7px;
    box-shadow: 0 2px 12.2px 0.8px rgb(61 60 58 / 15%);
    background-image: linear-gradient(0deg,#32439a,#4e68d9);;
    padding: 5px 60px 5px 20px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    min-height: 90px;
    width: 100%;
    margin-bottom: 20px;
}
.acor-container12 input{
    display: none;
}
.acor-container12 label:before {
    content: '▾';
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    color: #3e53b6;
    align-items: center;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all .5s;
}
.acor-container12 input:checked + label {
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container12 input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container12 input:checked + label + .acor-body12 {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}
/* end block12 */
/* start half-7 */
.half7 {
    position: relative;
}
.half7-inner {
    position: relative;
    z-index: 3;
    background-image: url(../img/half-7.webp);
    background-repeat: no-repeat;
    background-size: 23%;
    background-position: 3% 50%;
    padding: 60px 0;
}
.half7-block {
    display: flex;
    flex-wrap: wrap;
}
.half7-content {
    padding-left: 300px;
}

.half7-button a {
    border-radius: 7px;
    background-image: linear-gradient(90deg,#ff781b,#ffac75);
    text-transform: uppercase;
    min-height: 51px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 15px;
    line-height: 1.25;
    width: 100%;
    max-width: 460px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
}
/* end half-7 */
/* start footer */
.footer {
    padding: 40px 0 20px;
    color: #f5f5f5;
    position: relative;
}
.footer:after {
    content: "";
    background-image: linear-gradient(90deg,#4054af,#233987);
    display: block;
    position: absolute;
    right: 0;
    left: 15px;
    top: 0;
    height: 100%;
    border-top-left-radius: 90px;
}
.footer-inner {
    position: relative;
    z-index: 3;
}
.footer-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-menu li {
    margin-left: 20px;
}
.footer-menu li a {
    color: #fff;
}
.risk {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.copyright {
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    background-color: #000;
}
/* end footer */
@media (max-width: 1400px) { 
   
}


@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .half-1 {
        background-image: none;
    }
    .half1-content {
        width: 100%;
    }
    .half-2-inner {
        background-image: none;
    }
    .helf2-content {
        padding: 0;
    }
    .img-absolute img {
        display: none;
    }
    .block7-section-item {
        width: 100%;
    }
    .half-3-content {
        width: 50%;
    }
    .half-6 {
        background-image: none;
    }
    .half-6-content {
        padding: 0;
    }
    .img-absolute-right img {
        display: none;
    }
    .block9-section-item {
        width: 100%;
    }
    .block10-section-item {
        display: none;
    }
    .block10-section-item2 {
        width: 100%;
    }
    .half7-inner {
        background-image: none;
    }
    .half7-content {
        padding: 0;
    }
    .footer-inner {
        padding: 15px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}


@media (max-width: 768px) { 
    .container {
        max-width: 720px;
    }
    .pictures {
        display: none;
    }
    .block1-section-title {
        width: 100%;
    }
    .half-3 {
        background-image: none;
    }
    .half-3-content {
        width: 100%;
    }
    .half-4 {
        background-image: none;
    }
    .half-4-content {
        padding: 0;
    }
    .half-5 {
        background-image: none;
    }
    .half-5-content {
        width: 100%;
    }
}


@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    .form-section-header h1 {
        color: black;
    }
    .form-section-header h1 {
        width: 100%;
    }
    .form-section-header h2 {
        width: 100%;
    }
    .form-section-block-img {
        display: none;
    }
    .acor-item, .acor-item2 {
        width: 100%;
    }
    .bg-image, .bg-image-2 {
        padding: 10px 10px;
    }
    .bg-image h2, .title{
        font-size: 28px;
    }
    .block6-section-item {
        width: 100%;
    }
    .block7-section-item2 {
        width: 100%;
    }
    .acor-items1, .acor-items2 {
        width: 100%;
    }
    .footer-menu {
        display: block;
    }
    .block2-section, .half-1, .half-2, .half-2-inner, .half-3, .half-4, .half-5, .half-6, .block8-section, .block9-section, .block11-section, .half7-inner {
        padding: 10px 0;
        margin: 0;
    }
}